@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&display=swap");

body {
    color: #fff;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

.bodyRegistro {
    background: url("registro.png") no-repeat center center;
    background-size: cover;
}

.bodyLoguin{
    background: url("Loguin.png") no-repeat center center;
    background-size: cover;
}



p {
    color: white;
}
.container2 {
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: 20px;
}
.container3 {
    padding: 30px;
    border-radius: 10px;
    max-width: 550px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-right: auto;
    margin-left: 10px;
}



h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #ffffff;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
}

label {
    color: #ffffff;
    font-weight: 600;
    text-align: left;
    display: block;
    font-size: 18px;
}

.form-control {
    background-color: #fff;
    color: #333;
    border: none;
    font-size: 18px;
    padding: 12px;
}

.form-control:focus {
     box-shadow: none;
     background-color: #bdbbbb;
}

.btn-primary {
    background-color: #4d8cff;
    border: none;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    padding: 12px;
    margin-top: 15px;
    margin-bottom:15px;
}

.btn-primary:hover {
   background-color: #3b6bd1;
}

.alert {
    color: #000;
    background-color: #ffcc00;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

.alert a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

.link-login {
    color: #bccff3;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

.link-login:hover {
 text-decoration: underline;
}
