@{
    Layout = "_Layout"; 
}
@{
    ViewBag.ShowHeader = true; 
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/chatBot.css" asp-append-version="true" />
    <title>Bot de Chat</title>
</head>
<body>
    <div class="chat-window" id="chatWindow">
        <div class="chat-header">
            Hablá con Botify
        </div>
        <div class="chat-body" id="chatBody">
            <div id="webchat" class="webchat"></div>
        </div>
    </div>
    <script src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
    <script src="~/js/chatBot.js"></script>
    <script>
        (async function () {
            const userID = '2';
            const userName = '1';
            const locale = 'es';
            const directLine = window.WebChat.createDirectLine({
                domain: 'http://localhost:55654/v3/directline', // Puerto de bot emulator
                webSocket: false
            });

            // Middleware para aplicar la animación a los mensajes del bot
            const botMessageMiddleware = () => (next) => (card) => {
                if (card.activity.from.role === 'bot') {
                    setTimeout(() => {
                        const botMessages = document.querySelectorAll('.webchat__stacked-layout__message');
                        const lastBotMessage = botMessages[botMessages.length - 1];
                        if (lastBotMessage) {
                            lastBotMessage.classList.add('message-from-bot');
                        }
                    }, 50); // Breve retraso para que la animación se note
                }
                return next(card);
            };

            window.WebChat.renderWebChat({
                directLine: directLine,
                userID: userID,
                username: userName,
                locale: locale, 
                styleOptions: {
                    botAvatarImage: '/css/bot.png', 
                    botAvatarInitials: '', 
                    userAvatarInitials: 'YO',
                    hideUploadButton: true, 
                    sendBoxBackground: '#F3E5F5',
                    sendBoxTextColor: '#080a33',
                    showTyping: true
                },
                localization: {
                    sendBoxText: 'Escribe tu mensaje aquí...'
                },
                activityMiddleware: botMessageMiddleware
            }, document.getElementById('webchat'));
        })().catch(err => console.error(err));
    </script>
</body>
</html>
