@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Token Spotify</h1>
    <a href="home/ObtenerToken">Obtener Token</a>
    <a href="home/Conectar">Conectar</a>
</div>
