@{
    ViewData["Title"] = "Home Page";
}
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] HOME</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/API.Spotify.Web.styles.css" asp-append-version="true" />
</head>
<body class="bodyHome">
    <div class="text-center">
        <a asp-controller="Usuarios" asp-action="Registrarse" class="btn btn-primary">Registrarse</a>
        <a asp-controller="Usuarios" asp-action="IniciarSesion" class="btn btn-outline-primary">Iniciar sesión</a>
    </div>
</body>

